{% extends 'base.html' %}

{% block title %}
    <title>Inicio</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block main %}
    <div class="container-sm">
        
        <h1>Sistema de Calificaciones Tributarias de NUAM</h1>
        <p class="subtitle">Gestiona y consulta calificaciones de manera eficiente</p>
    
        <a href="{% url 'login' %}" class="btn btn-primary-custom">
            <button type="button" class="btn btn-outline-primary">Iniciar Cesion</button>
        </a>
    </div>

{% endblock %}