{% extends 'base.html' %}
{% load static %}

{% block title %}
    Inicio de sesión - NUAM
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
{% endblock %}

{% block main %}
    <div class="welcome-card">
        <h1>Sistema de Calificaciones Tributarias de NUAM</h1>
        <p class="subtitle">Gestiona y consulta calificaciones de manera eficiente</p>
        <div class="welcome-actions">
            <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
        </div>
    </div>
{% endblock %}