{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Inicio</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
{% endblock %}

{% block main %}
    <div class="container-sm container-hero">
        <h1>Sistema de Calificaciones Tributarias de NUAM</h1>
        <p class="subtitle">Gestiona y consulta calificaciones de manera eficiente</p>

        <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
    </div>
{% endblock %}