body{
    font-family: "Arial Narrow", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header{
    background-color: #35424a; 
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

/* Navbar naranja */
.navbar {
    background-color: #ff7a00 !important; /* tono naranja */
}
.navbar .navbar-brand,
.navbar .nav-link {
    color: #ffffff !important;
}